.shoppingcart {
    color: rgb(255, 255, 255);
}

.cart-btn {
    background: none;
    border: none;
    margin: .5rem;
    
}

.link {
    text-decoration: "none",
}

/* Media queries */

@media (max-width: 1024px) {
    
}

@media (max-width: 786px) {
    .cart-btn  {
        margin: 0.1rem .1rem;
    }
}