/* .checkout-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* .movie-papers {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
} */

.color {
    color: white;
}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #02060f;
    justify-content: center;
    max-width: 1430px;
}

.outerDiv {
    background: #02060f;
    display: flex;
    justify-content: center;
}
