.movieContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #02060f;
  justify-content: center;
  max-width: 1160px;
}

.outerDiv {
  background: #02060f;
  display: flex;
  justify-content: center;
}

.detail-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 6rem;
}