.confirmationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 6rem;
}

.confirmText {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0.5rem;
}

.confirmationInformationContainer {
  display: flex;
  background-color: white;
  flex-grow: 1;
  max-width: 40rem;
  border-radius: 4px;
}

.table {
  display: flex;
  flex-grow: 1;
  max-width: 40rem;
  margin-top: 0.2rem;
}

.totalBold {
  font-weight: bold;
}

.padding {
  padding: 0.5rem 1.5rem;
}

.link {
  text-decoration: underline;
  color: white;
}

/* Media queries */

@media (max-width: 768px) {
  .confirmationInformationContainer,
  .table {
    max-width: 30rem;
  }
}

@media (max-width: 568px) {
  .confirmationInformationContainer,
  .table {
    max-width: 25rem;
  }
}

@media (max-width: 480px) {
  .confirmationInformationContainer,
  .table {
    max-width: 20rem;
  }
}

@media (max-width: 420px) {
  .confirmationInformationContainer,
  .table {
    max-width: 18rem;
  }
}
