header {
    flex: 1;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/theavengers_lob_mas_dsk_03_1.jpg");
}
.obj-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
