.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.movie-homepage-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-Content: center;
    color: white;
    background-color: gray;
    width: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.movie-details-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-Content: center;
    color: white;
    background-color: gray;
    width: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;

}

.movie-checkout-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-Content: center;
    color: white;
    background-color: gray;
    width: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;

}


.homepage-image { 
    width: 15rem; 
    cursor: pointer; 
}

.details-image {
    width: 8rem;
}

.checkout-image {
    width: 2.5rem;
}