.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}
.jus-center{
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    align-items: center;
}

.padding-typo {
    padding: 1rem;
}

.movie-homepage-card {
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie-details-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: gray;
    width: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.movie-checkout-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: gray;
    width: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.homepage-image {
    width: 15rem;
    cursor: pointer;
    height: 22rem;
}

.details-image {
    width: 8rem;
}

.checkout-image {
    width: 2.5rem;
}

/*------------------------MOVIE DETAILS-----------------------------*/

.root {
    flex-grow: 1;
}

.details-image {
    width: 13rem;
    
}

.details-image-box {
    margin-right: 1rem;
}

.top-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 13rem;
}

.details-h3 {
    margin: 0;
}

.details-p {
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.storyline-p {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;  
    
}
.details-image-box {
    display: flex;
    justify-content: center;
}

/* Media queries */

@media (max-width: 480px) {

    .details-image-box {
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        justify-content: center;
    }

    .storyline-p {
        margin-top: 0.5rem;        
    }

    .top-container {
        margin-bottom: 0;
        justify-content: center;
    }

    .details-image {
        width: 13rem;
        height: 16rem;
        
    }
}
